/* Dark Purple: #1F1F3C
Medium Purple: #A8AAD2
Light Purple: #EAEAF4
White: #FFFFFF */

html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #EAEAF4;
  display: flex;
  font-family: "Open Sans", "Light";
  margin: 0;
  min-height: 100%;
  width: 100%;
}


.sidenav {
  background-color: #1F1F3D;
  height: 100%;
  width: 25vw;
  position: fixed;
}

.starred-btn-container {
  display: flex;
  justify-content: center;
}
.starred-ideas-btn {
  background-color: #A8AAD2;
  color: #1F1F3C;
  border: none;
  font-size: 20px;
  padding: 3%;
  height: 50px;
  font-weight: bold;
}

.starred-ideas-btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

main {
  margin-left: 25vw;
  display: flex;
  flex-direction: column;
  width: 75vw;
  height: 100%;
}

#site-name {
  margin-top: 5px;
  font-weight: bold;
  text-align: center;
  color: #FFFFFF;
  font-size: 70px;
}


/* Idea section below */
.main-form {
  display: flex;
  flex-direction: column;
  align-items: flex-end; 
  height: 50%;
}

.main-form-section {
  background-color: #A8AAD2;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.save-button {
  background-color: #1F1F3D;
  color: #FFFFFF;
  width: 30vw; 
  height: 4vw;
  margin-left: 55px;
  margin-top: 10px;
  font-size: 25px;
}

.save-button:disabled {
  background-color: #5356A4;
  cursor: not-allowed;
}

.new-ideas-section {
  background-color: #EAEAF4;
}

.card-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.idea-card {
  border-style: solid;
  border-color: #1F1F3C;
  background-color: #FFFFFF;
  /* display: flex; */
  /* flex-direction: column;
  justify-content: space-between;
  align-items: center; */
  height: 40vh;
  width: 30vh;
}

.idea-title {
  position: relative;
  text-align: center;
  white-space: wrap;
  overflow: hidden;
  text-overflow: clip;
  font-size: 30px;
  font-weight: bolder;
  margin-top: 2px;
}

.idea-body {
  position: relative;
  text-align: center;
  white-space: wrap;
  overflow: hidden;
  text-overflow: clip;
  font-size: 30px;
  font-weight: lighter;
} 

.toolbar-images {
  background-color: #1F1F3D;
  display: flex;
  flex-direction: row;
  height: 13%;
  justify-content: space-between;
  width: 100%;
}

.input-title {
  border: 2px solid #5356A4;
  border-radius: 3px;
  color: #1F1F3D;
  height: 3vh;
  width: 30vw;
  margin-left: 10px;
}

.title-label {
  font-size: 25px;
  padding-bottom: 3%;
  padding-top: 5%;
  font-weight: bold;
}

.body-section {
  display: flex;
  flex-direction: row;
  align-items: center;  
}

.body-label {
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 3%;
  padding-top: 7%;
  margin: auto;
}

.input-body {
  border: 2px solid #5356A4;
  border-radius: 3px;
  color: #1F1F3D;
  margin-top: 10px;
  height: 5vh;
  width: 30vw;
  margin-left: 10px;
}

.card-grid {
  display: grid;
  grid-gap: 3%;
  grid-template-columns: repeat(3, 1fr);
  padding-bottom: 3.5%;
  padding-left: 2.5%;
  padding-top: 2.5%;
}




